// SASS script for styling av Layout-komponenten.

// Importerer variabler som er definert i _variables.scss.
@import "../styles/scss/variables";

// Importerer global.scss som inneholder global styling for hele applikasjonen.
@import "./Nav.scss";

#root {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: $black;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

// Styling for hovedcontaineren som inneholder nav, main og footer.
#styleContainer {
    background-color: $white; 
    width: 80%;
    max-width: 1200px;
    min-height: 80vh;
    margin: 2rem auto; 
    padding: 2rem;
    box-shadow: 0px 4px 10px $black (0, 0, 0, 0.1); 
    border-radius: 10px; 
}