// Lager et SASS script for styling av Nav-komponentet. 

// Importerer variabler som er definert i _variables.scss.
@import "../styles/scss/variables";

// Styling for navigasjonsmenyen.
nav {
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 100%;
    padding: 1rem;

    ul {
        list-style: none;
        display: flex;
        justify-content: space-between;
        gap: 10px;
        padding: 10;

        li {
            flex-grow: 1;
            text-align: center;
            
            // Styling for lenker i navigasjonsmenyen.
            a {
                background-color: $darkblue;
                text-decoration: none;
                color: $white;
                font-weight: bold;
                font-size: 16px;
                padding: 10px;
                border-radius: 5px;
                transition: background-color 0.3s;

                // Hover-effekt
                &:hover {
                    background-color: $white;
                    color: $black;
                    border-bottom: 5px solid $black;
                    
                }    
            }
        }
    }
}