// _global.scss
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');
@import 'variables';

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; // Sørger for at den dekker hele skjermen
    width: 100%;
    background-color: $grey; // Bruker en variabel for farge

}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: $black;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}