// _global.scss

// Importterer montserrat fonten fra google fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');
// Importerer variabler som er definert i _variables.scss. (Farger)
@import 'variables';

// Generell styling for hovedcontaineren #root i react-applikasjonen.
#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; // Sørger for at den dekker hele skjermen
    width: 100%;
    background-color: $grey; // Bruker en variabel for farge

}
// Generell styling for hovedinnholdet i applikasjonen
body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: $black;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}